<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>PiraTruths</title>
<!-- 
HELLO WORLD
<br>
<br>
<input id="entrada" type="text" onkeyup="pira_transform()">
<label id="salida"></label>
<br>
<br>
<!-- ['p','q','r']', ['p ^ q ^ r',  'p V  q V r',  '(p V (~q)) ->r'] -->
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<script>
    function pira_transform(){
        entrada = $("#entrada").val()
        transfom = entrada.replace()
        console.log(entrada)
        $('#salida').text(entrada)
    }
</script>
<body>
    <div class="shade">
        <div class="blackboard">
                <div class="form">
                        <p>
                            <label>Expresion: </label>
                            <input type="text" style="width: 80%;" />
                        </p>
                        <center>
                            <table class="pira_table" cellpadding="0" cellspacing="1" border="5" id="tablaPrincipal">
                                <!--<tr>
                                    <th>p</th>
                                    <th>q</th>
                                    <th>r</th>
                                    <th>p and q and r</th>
                                    <th>p or q or r</th>
                                    <th>(p or (~q)) => r</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>-->
                            </table>
                        </center>
                        <p class="wipeout">
                                <input type="submit" value="Ejecutar"  />
                        </p>
                </div>
        </div>
    </div>
</body>
<script>
    var matrix = "{{ pira_array|safe }}";
    matrix = matrix.replace("[", "");
    matrix = matrix.replace("]", "");
    var salida = matrix.split(",");
    var cuerpoTabla = "";
    var fila = "";
    var cnt = 0;
    for (let data of salida ) {
        //console.log(data.replaceAll("'", ""));
        if (data.replaceAll("'", "").trim() == "") {
            cuerpoTabla += "<tr>"+fila+"</tr>";
            fila = "";
            if (cnt != 1) {
                cnt = 1;
            }
        } else {
            if (cnt == 0) {
                fila += "<th>"+data.replaceAll("'", "")+"</th>";
            } else {
                fila += "<td>"+data.replaceAll("'", "")+"</td>";
            }
        }
    }
    //console.log(matrix);
    //console.log(cuerpoTabla);
    document.getElementById("tablaPrincipal").innerHTML = cuerpoTabla;
    //console.log(salida);
</script>